### 3. Ordinal Number Encoding (Where you can assigne ranks)

In [24]:
import datetime

In [25]:
today_date=datetime.datetime.today()

In [26]:
today_date

datetime.datetime(2021, 5, 23, 6, 25, 16, 797705)

In [27]:
today_date-datetime.timedelta(3)

datetime.datetime(2021, 5, 20, 6, 25, 16, 797705)

In [28]:
# List Comprehension

days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [29]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]

In [30]:
data.head()

                         Day
0 2021-05-23 06:25:16.797705
1 2021-05-22 06:25:16.797705
2 2021-05-21 06:25:16.797705
3 2021-05-20 06:25:16.797705
4 2021-05-19 06:25:16.797705

In [31]:
data['weekday']=data['Day'].dt.weekday_name
data.head()

AttributeError: ignored

In [32]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [33]:
dictionary

{'Friday': 5,
 'Monday': 1,
 'Saturday': 6,
 'Sunday': 7,
 'Thursday': 4,
 'Tuesday': 2,
 'Wednesday': 3}

In [34]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

KeyError: ignored

### 4. Count or frequency encoding

In [36]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None, index_col=None)
train_set.head()

   0                  1       2           3   ...  11  12              13      14
0  39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
1  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
2  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
3  53            Private  234721        11th  ...   0  40   United-States   <=50K
4  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K

[5 rows x 15 columns]

In [38]:
columns=[1,3,5,6,7,8,9,13]

In [39]:
train_set=train_set[columns]

In [40]:
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']

In [41]:
train_set.head()

          Employment      Degree  ...      Sex         Country
0          State-gov   Bachelors  ...     Male   United-States
1   Self-emp-not-inc   Bachelors  ...     Male   United-States
2            Private     HS-grad  ...     Male   United-States
3            Private        11th  ...     Male   United-States
4            Private   Bachelors  ...   Female            Cuba

[5 rows x 8 columns]

In [42]:
for feature in train_set.columns[:]:
    print(feature,":",len(train_set[feature].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [43]:
train_set['Country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [44]:
# County column is converted into dictionary

country_map = train_set['Country'].value_counts().to_dict()

In [45]:
train_set['Country'] = train_set['Country'].map(country_map)
train_set.head(20)

           Employment         Degree  ...      Sex Country
0           State-gov      Bachelors  ...     Male   29170
1    Self-emp-not-inc      Bachelors  ...     Male   29170
2             Private        HS-grad  ...     Male   29170
3             Private           11th  ...     Male   29170
4             Private      Bachelors  ...   Female      95
5             Private        Masters  ...   Female   29170
6             Private            9th  ...   Female      81
7    Self-emp-not-inc        HS-grad  ...     Male   29170
8             Private        Masters  ...   Female   29170
9             Private      Bachelors  ...     Male   29170
10            Private   Some-college  ...     Male   29170
11          State-gov      Bachelors  ...     Male     100
12            Private      Bachelors  ...   Female   29170
13            Private     Assoc-acdm  ...     Male   29170
14            Private      Assoc-voc  ...     Male     583
15            Private        7th-8th  ...     Male     643
16   Self-emp-not-inc        HS-grad  ...     Male   29170
17            Private        HS-grad  ...     Male   29170
18            Private           11th  ...     Male   29170
19   Self-emp-not-inc        Masters  ...   Female   29170

[20 rows x 8 columns]


Advantages
1. Easy To Use
2. Not increasing feature space 

Disadvantages
1. It will provide same weight if the frequencies are same

### 5. Target Guided Ordinal Encoding

1.Ordering the labels according to the target

2.Replace the labels by the joint probability of being 1 or 0

In [46]:
import pandas as pd
df=pd.read_csv('titanic.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [47]:
df['Cabin'].fillna('Missing',inplace=True)

In [48]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [49]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [50]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [51]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [52]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [53]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [54]:
enumerate(ordinal_labels,0)

In [55]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [56]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

### 6. Mean Encoding

In [57]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [58]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [59]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854